[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    W0201,  # Attribute defined outside __init__
    W0221,  # Arguments differ from overridden method
